* {
    padding: 0px;
    margin: 0px;
    border: none;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #42668a;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color : #1C2B3A;
    height: 85%;
    width: 30%;
    margin: auto;
    border: 2px solid black;
    border-radius: 2%;
    min-width: 372px;
    min-height: 572px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 45%;
    padding-left: 10%;
    padding-right: 10%;
}

header img {
    padding-top: 5%;
    height: 50%;
    width: 20%;
}

.title {
    margin-top: 3%;    
    font-size: 1.9em;
    font-weight: 900 ;
    letter-spacing: 1px;
    color: white;
    -webkit-text-stroke: 1px #1E90FF;
    padding-bottom: 5%;
}

.orientation {

    color: #1E90FF;
    font-weight: 400;
    font-size: 0.9em;
    letter-spacing: 2px;
    word-wrap: break-word;
    padding-bottom: 5%;
    
}

.form-wrapper{
    padding-top: 3%;
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

form{
    position: absolute;
    display: flex;
    width: 80%;
    flex-direction: column;
    align-content: left;
    padding-left: 10%;
    padding-right: 10%;
}

form label {
    padding: 0.7em 0em;
    color: #FFDE5A;
    font-size: 1.2em;
}

form input {
    background-color: black;
    border-radius: 20px;
    border: 1px solid #FFDE5A;
    height: 2rem;
    width: 95%;
    margin-bottom: 5%;
    color: white;
    font-size: 0.8em;
    letter-spacing: 3px;
    padding-left: 1em;
}

.agree {
    display: flex;
    align-items: center;
    position:relative;
}

#chk-agree {
    position:absolute;
    height: 60%;
    width: 10%;
    margin: 5% 2%;
    border: 1px;
    border-color:  #FFDE5A; 
}

.agree label {
    margin-left: 15%;
    color: #B9B6B6;
    letter-spacing: 1px;
    font-size: 0.9em;
}


button {
    background-color: black;
    border: 1px solid #FFDE5A;
    height: 3rem;
    width: 12rem;
    color: #FFDE5A;
    font-size: 1.2em;
    margin-top: 20px;
    border-radius: 20px;
    align-self: center;
}