#panel-wrapper {
  display: flex;
  flex-direction: column;
}

#panel-bar {
    display: flex;
    flex-direction: column;
    background-color:rgba(32, 57, 82, 0.95);
    height: 95px;
    color: white;
    padding: 10px 0px 0px 10px;
}

#div-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    font-size: 30px;
    color: white;
    padding: 0px 20px 0px 10px;
}

#div-add-product {
  height: 40px;
  width: 40px;
}

#div-add-product img{
  height: 100%;
  width: 100%;
  cursor: pointer;
}

<<<<<<< HEAD
#filter-form-panel {
=======
#filter-form {
>>>>>>> f76a2668067f22428e7d6befb7f6219e3f730725
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 25px;
    border-top: 1px solid white;
    padding: 10px 20px 0px 0px;
}

#panel-filters {
    padding: 10px 0px;
}

#filter-form-panel span {
    color: white;
    font-size: 18px;
    padding-left: 10px;
}

#filter-form-panel select, input {
    margin-left: 5px;
    height: 25px;
    padding-left: 15px;
    border-radius: 5px;
    font-size: 14px;
}

.input-id {
    width: 85px;
}

#filter-form-panel button {
    width: 80px;
    height: 25px;
    border-radius: 5px;
    font-size: 14px;
    background-color: white;
    color:#1E90FF;
    font-weight: bolder;
}

#panel-wrapper {
  display: flex;
  height: 100%;
  box-sizing: border-box;
}

#grid-panel table {
    font-family: arial, sans-serif;
    background-color: white;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

#grid-panel table img {
    height: 20px;
    width: 20px;
}
  
 #grid-panel td, th {
    font-size: 14px;
    border: 1px solid #bebebe;
    text-align: left;
    padding: 8px;
    color: black;
    height: 30px;
  }
  
  #grid-panel  tr:nth-child(even) {
    background-color: #dddddd;
  }

 .img-row-cell {
    display: flex;
    justify-content: center;
  }
  .img-row-pic {
    width: 40px; 
    height: 40px;
  }

.btn-show, .btn-nav-app {
  min-width: 80px;
  width: fit-content;
  background-color: rgb(95, 85, 95);
  border: 0.5px solid gray;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  padding:5px;
}