.grp-cancel-edit, .grp-save {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    margin-bottom: 20px;
}

#btn-admin-edit, #btn-admin-cancel{
    position: absolute;
}