* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
}

.left {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 100vh;
    background-color: rgb(43, 41, 41);
    min-width: 260px;
}

.lp-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: rgb(122, 16, 16);
    font-size:24px;
    color: white;
    box-sizing: border-box;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    background-color: rgb(43, 41, 41);
}

.profile img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    padding:20px;
    margin-top: 15px;
    box-sizing: border-box;
}

.menu {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    background-color: rgb(43, 41, 41);
}

.menu li {
    display: flex;
    align-items: center;
    background-color: rgb(43, 41, 41);
    height: 60px;
    border-bottom: 1px solid rgb(78, 78, 78);;
    padding-top: 10px;
    padding-left: 20px;
}

.menu-icon {
    height: 100%;
    width: auto;
    padding:10px;
}

.menu span {
    color: white;
}

li:hover {
    background-color: rgb(122, 16, 16);
}

.right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100hv;
}

.rp-header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    background-color: gray;
    box-sizing: border-box;
    padding-right: 10px;
    font-size: 20px;
    box-sizing: border-box;
}

.rp-header span {
    color: white;
    background-color: gray;
    padding-right: 10px;
    text-decoration: none;
}

.rp-header button {
    margin: 0px 10px;
    background-color: rgb(122, 16, 16);
    color: white;
    padding: 5px 10px;
}





.panel {
    border:30px;
    height: 100%;
    padding: 20px;
    height: 100%;
    background-color:gainsboro;
    
}

.panel-content {
    border:30px;
    height: 100%;
    padding: 20px;
    height: 100%;
    background-color:white;
}

.welcome {
    background-color:white;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 20px;
}

.welcome span {
    font-size: 30px;
    color: red;
}

.welcome p {
    margin-top: 10px;
    color: gray;
}



.notifications {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 25px;;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 40px;
    min-width: 560px;
}

.card-notification {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: 150px;
    width: 250px;
    background-color: gainsboro;
    padding: 10px 10px 10px 20px;
    margin-top:10px;
    margin-left: 20px;
}

.card-id {
    display: flex;
    align-items: center;
}

.card-icon {
    height: 70px;
}

.card-info {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    align-self:flex-end ;
    font-size: 24px;
    font-weight: 800;
    line-height: 1.2;
}

.card-title{
    padding-top: 10px;
    color: gray;
}

.card-space{
    display: flex;
    width: fit-content;
    flex-grow: 1;
}





.system-health {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding-bottom: 40px;
}

.card-warning {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    height: 300px;
    width: 520px;
    background-color: gainsboro;
    padding: 20px 10px 10px 20px;
    margin-top:10px;
    margin-left: 20px;
}

.warnings {
    display: flex;
    align-items: center;
}

.warning-icon-box {
    height: 70px;
    background-color: purple;
    box-sizing: content-box;
}
.warning-icon {
    height: 70px;
    box-sizing: border-box;
    padding: 10px;
    filter: invert(1);
    box-sizing: border-box;
}

.warning-info {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    align-self:center ;
    font-size: 24px;
    font-weight: 800;
    line-height: 1.2;
}

.card-warning > p {
    display: flex;
    justify-content: left;
    margin-left: 80px;
    color: gray;
}

.time-left{
    padding-top: 20px;
    color: gray;
}



.card-speed {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    height: 300px;
    width: 250px;
    background-color: rgb(40, 133, 255);
    padding: 20px 10px 10px 20px;
    margin-top:10px;
    margin-left: 20px;
}

.speed {
    display: flex;
    align-items: center;
}

.speed-title {
    padding-left: 10px;
    color: white;
    font-weight: 800;
    font-size: 24px;
}

.speed-info {
    color: white;
    padding-top: 10px
}

.speed-icon {
    height: 70px;
    box-sizing: border-box;
    padding: 10px;
    background-color: white;
    box-sizing: border-box;
}


.other-controls {
    display: flex;
    flex-direction: column;
}



.card-weather {
    display: flex;
    align-items: left;
    justify-content: space-between;
    height: 145px;
    width: 250px;
    background-color: purple;
    padding: 10px 10px 10px 20px;
    margin-top:10px;
    margin-left: 20px;
}

.weather {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
}

.weather >div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-icon {
    height: 70px;
    filter: invert(1);
}

.weather-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.weather-info {
    display: flex;
    flex-direction: column;
    padding: 0px 10px 0px 10px;
    align-self:flex-start ;
    font-size: 48px;
    font-weight: 900;
    line-height: 1.2;
    color: white;
}






.card-display {
    display: flex;
    align-items: left;
    height: 145px;
    width: 250px;
    background-color: gainsboro;
    padding: 10px 10px 10px 20px;
    margin-top:10px;
    margin-left: 20px;
}



.display-icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: rgb(59, 231, 116);
}

.display-icon {
    height: 40px;
    filter: invert(1);
}

.display-title {
    padding-left: 10px;
    align-self:center ;
    font-size: 24px;
    font-weight: 800;
    transform: translateY(-80%);

}