.grp-edit-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 100%;
    margin-bottom: 20px;
}

#btn-admin-delete{
    position: absolute;
    background-color:var(--btn-delete);
    color: white;
}

#btn-admin-edit{
    position: absolute;
    background-color:var(--btn-confirm);
    color: white;
}