#panel-bar {
    /*padding: 0; border: 0; margin: 0; box-sizing: border-box;*/
    display: flex;
    flex-direction: column;
    background-color:rgba(32, 57, 82, 0.95);
    height: 95px;
    color: white;
    padding: 10px 0px 0px 10px;
}

#div-title{
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 30px;
    color: white;
    padding-left: 10px;
}

form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 25px;
    border-top: 1px solid white;
    padding: 10px 20px 0px 0px;
}

#panel-filters {
    padding: 10px 0px;
}

form span {
    color: white;
    font-size: 18px;
    padding-left: 10px;
}

form select, input {
    margin-left: 5px;
    height: 25px;
    padding-left: 15px;
    border-radius: 5px;
    font-size: 14px;
}

.input-id {
    width: 85px;
}

form button {
    width: 80px;
    height: 25px;
    border-radius: 5px;
    font-size: 14px;
    background-color: white;
    color:#1E90FF;
    font-weight: bolder;
}

/*PRODUCTS PANEL*/

/*PRODUCTS PANEL END*/


/* grid pattern*/

table {
    font-family: arial, sans-serif;
    background-color: white;
    border-collapse: collapse;
    width: 100%;
    height: 90%;
  }

table img {
    height: 20px;
    width: 20px;
}
  
  td, th {
    font-size: 14px;
    border: 1px solid #bebebe;
    text-align: left;
    padding: 8px;
    color: black;
    height: 30px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }


.btn-show, .btn-nav-app {
  min-width: 80px;
  width: fit-content;
  background-color: rgb(95, 85, 95);
  border: 0.5px solid gray;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  padding:5px;
}