#panel-bar {
    /*padding: 0; border: 0; margin: 0; box-sizing: border-box;*/
    display: flex;
    flex-direction: column;
    background-color:rgba(32, 57, 82, 0.95);
}

#panel-title{
    font-size: 36px;
}