* {
    border: 0px; margin: 0px; padding: 0px; box-sizing: border-box;
}

#fp-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--blue-dark);
}

header img {
    width: auto;
    height: 80px;
    transform: translateX(25px);
}

#fp-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    border-radius: 7px;
    padding: 10px;
    background-color: var(--blue-innerbox);
}

#al-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.orientation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px; 
    box-sizing: border-box;
    padding: 15px;
}

h1 {
    color: var(--yellow);
    margin: 10px 0px;
    font-size: 24px;
}

label {
    font-family: 'Hind Siliguri', sans-serif;
    display: flex;
    font-weight: lighter;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    word-wrap: break-word;
    color: whitesmoke;
    text-align: center;
}

.input-grp {
    display: flex;
    justify-content: center ;
    padding-top: 10px;
}

input {
    width: 210px;
    height: 30px;
    padding-left: 8px;
    border-radius: 5px;
}

#msgErro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-top: 10px;
    color: tomato;
    font-size: 16px;
    font-style: italic;
    word-break: break-all;
}

#btn {
    display: flex;
    justify-content: center;
    padding: 10px;
    padding-bottom: 30px;
    margin-top: 10px;
}

button {
    height: 30px;
    width: 120px;
    background-color: black;
    color: white;
}

button:hover {
    background-color: var(--blue-light);
    color: black;
    transition: 0.5s;
}