*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    --white: white ;
    --black: #000000;
    --yellow: #FFDE5A;
    --blue-light: #1E90FF;
    --blue-dark:#1C2B3A;
    --blue-innerbox:#1E3042;
    --grey: #B9B6B6;
    --grey-medium: #787B7D;

    --btn-cancel: #F0AB3E;
    --btn-confirm: #0FBF60;
    --btn-search: #fa2355;
    --btn-edit: #589bdf;
    --btn-delete: #ca0303;

    font-size: 62.5%;
}

.sr-only{
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.pdp-inputs , .pdp-selects {
    padding: 5px;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-weight: 300;
    font-size: 12px;
    border: 1px solid gainsboro;
    width: 100%;
  }
  
button{
transition: filter .2s;
}

.buttons {
    color: white;
    height: 35px;
    width: 100px;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 700;
    margin: 0px 10px;
    cursor: pointer;
  }
  
  .buttons:hover {
    opacity: 0.7;
    transition: 0.5s;
  }

  .button-save {
    background-color: var(--btn-confirm);
  }
  
  .button-cancel {
    background-color:var(--btn-cancel);
  }
  
  .button-edit {
    background-color:var(--btn-edit);
  }

  .button-search {
    background-color:var(--btn-search);
  }
  
  .button-delete {
    background-color:var(--btn-delete);
  }