
/* configuração em toda body*/
*{
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #273E56;
    justify-content: flex-start;
}

.container-pai{
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.header-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#header-container{
    background-color: #1C2B3A;
    flex-direction: column;
    height: 40%;
    width: 100%;
}

#info-header-top{
    background-color: #1C2B3A;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-right: 5% ;
    padding-top: 10px;
}
.info-header-top-span a{
    padding: 5px;
    color: white;
    font-size: 0.8rem;
    text-decoration: none;
}

.info-header-top-span a:hover{
    background-color: #1C2B3A;
    color: black;
}

#container-logo {
    display: flex;
    justify-content: space-between;
    padding: 0px 5%;
    align-items: flex-end;
    flex-wrap: wrap;
    height: 100px;
}

/* Formatando Logo*/

.div-logo {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 100%;
}
.div-logo img{
    height: 92%;
    width: auto;
    margin-right: 2%;
}

/* Formatando nome Acesso Nerd */

.div-nome-acesso-nerd{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin-left: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div-nome-acesso-nerd h1{
    font-size: 3rem;
    color: white;
    font-weight: bold;
    -webkit-text-stroke: 1px #1E90FF;
    letter-spacing: 5px;
}
.div-nome-acesso-nerd h3{
    font-size: 0.9rem;
    color: #1E90FF;
    letter-spacing: 5px;
}

.div-login-carrinho{
    display: flex;
    justify-content: flex-end;
    width: 25%;
}

.div-carrinho, .div-login, .div-pesquisa {
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin: 10px;
    width: 50px;
    height: 50px;
}

/* Formatação icones - carrinho, login e pesquisa*/
.nav-icons{
    width: 35px;
    height: 35px;
}

.bar {
    display: flex;
    justify-content: space-between;
    padding: 1% 5% 1% 5%;
}

/* Nav */
.navegação-top{
    background-color: #1C2B3A;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 75%;
}

.navegação-top ul li a{
    flex-wrap: wrap;
    color:black;
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 5px;
    padding: 20px 15px 20px 15px;
    padding-bottom: 10px;
    text-decoration: none;
    -webkit-text-stroke: 1px #FFDE5A;
    border-bottom: 5px solid #1C2B3A;
}
.navegação-top li a:hover{
    border-bottom: 5px solid #1E90FF;
}

.barra-de-pesquisa {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 25%;
    padding: 0px;
}

.barra-de-pesquisa input{
    border-radius: 10px;
    width: 80%;
    height: 40px;
    border:none;
    padding-left: 15px;
}
.barra-de-pesquisa input::placeholder{
    font-style: italic;
    text-align: left;
    color: #9A9999;
    font-family: 'Roboto', sans-serif;
}

.div-pesquisa {
    width: 45px;
    height: 45px;
    margin-left: 20px;
}
.div-pesquisa button {
    border: none;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-pesquisar {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

/* Abaixo do nav */
.conteudo-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 5%;
}

/*Formatando rodape*/

.home-footer{
    height: fit-content;
}

#footer-container{
    width: 100%;
    background-color: #1C2B3A;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    padding: 20px 150px;
}
.footer-contact{
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 0.25;
    border-right: 2px solid #265380;
}

.contato, .email, .endereco {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}

.footer-contact h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 0.2em;
}

.footer-contact h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    padding-top: 1px;
    letter-spacing: 0.1em;
}

.footer-newlast{
    padding: 10px;
    margin-left: 10px ;
    margin-right: 10px;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 0.5;
    border-right: 2px solid #265380;
}
.newlast, .newlast-form-button{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    width: 80%;
    margin-bottom: 15px;
}

.newlast span{
    margin: 10px;
}

.newlast-form-button form {
    width: 100%;
}

.email-entry {
    display: flex;
    width: 80%;
    flex-grow: 1;
    padding-right: 15px;
}

.newlast-form-button input{
    border-radius: 10px;
    width: 100%;
    padding: 15px;
}


.button-newlast {
    width: 30%;
}
.button-newlast button{
    background-color: black;
    border: 1px solid #FFDE5A;
    border-radius: 10px;
    letter-spacing: 2px;
    width: 100%;
    padding: 15px;
    color: white;
    font-weight: bold;
}
.button-newlast button:hover{
    background-color: #1C2B3A;
}

.footer-form-payment{
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    flex-grow: 0.25;
}
.footer-form-payment img{
    width: 300px;
    height: 200px;
}

