* {
    padding: 0px;
    margin: 0px;
    border: none;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background: rgba(32, 57, 82, 0.95);
}

@media screen and (max-width:1200px){
    body {
        height: 95vh;
    }
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 640px;
    width: 400px;
    margin: auto;
}

.option-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding-bottom: 2px;
}

.login-option, .register-option {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 197px;
    border: 1px solid black;
    border-bottom: 1px solid black;    
    color:rgb(148, 142, 142);
    background-color : #1C2B3A;
    cursor: pointer;
}

.form-login-container {
    background-color : #1C2B3A;
    border: 2px solid black;
    min-width: 372px;
    height: 580px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 180px;
    padding: 10px 30px ;
}

header img {
    height: 75px;
    width: 65px;
    object-fit: scale-down;
}

.title {
    margin-top: 3%;    
    font-size: 1.9em;
    font-weight: 900 ;
    letter-spacing: 1px;
    color: white;
    padding-bottom: 10px;;
}

.orientation {
    text-align: center;
    color: #1E90FF;
    font-weight: 400;
    font-size: 0.9em;
    letter-spacing: 2px;
    word-wrap: break-word;
    height: 40px;
    padding-bottom: 5px;
}

.action-option-selected {
    border-bottom: none;
    color: white;
}

.form-wrapper{
    display: flex;
}

form{
    display: flex;
    width: 80%;
    flex-direction: column;
    align-content: left;
    padding-left: 10%;
    padding-right: 10%;
}

form label {
    padding: 5px 0em;
    color: #FFDE5A;
    font-size: 1.2em;
}

form input {
    background-color: black;
    border-radius: 10px;
    border: 1px solid #FFDE5A;
    height: 35px;
    width: 95%;
    margin-bottom: 5%;
    color: white;
    font-size: 0.8em;
    letter-spacing: 3px;
    padding-left: 1.5em;
}

.password-inputs {
    height: 90px;
}
.password-group {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5%;
}

.password-group input {
    margin-bottom: 0;
}

.password-group i {
    color:#FFDE5A;
    position: absolute;
    padding-right: 15px;
}


.confirm-password-group{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5%;
}

.confirm-password-group input {
    margin-bottom: 0;
}

.confirm-password-group i {
    color:#FFDE5A;
    position: absolute;
    padding-right: 15px;
}

a:hover {
    color: #0d5cac;
}

i:focus {
    outline: none;
}

/*
@media screen and (max-width:1200px){
    i {
        color:#FFDE5A;
        position: absolute;
        right: 54px;
        bottom: 4px;
        top: 157px;
    }
}*/

.agree {
    display: flex;
    justify-content: center;
    align-items: center;
}

#chk-agree {
    height: 15px;
    width: 15px;
    margin-right: 10px;
    margin-top: 15px;
    border: 1px;
    border-color:  #FFDE5A; 
}

.agree label {    
    color: #B9B6B6;
    letter-spacing: 1px;
    font-size: 14px;
}

button {
    background-color: black;
    border: 1px solid #FFDE5A;
    height: 40px;
    width: 180px;
    color: #FFDE5A;
    font-size: 1.2em;
    margin-top: 10px;
    border-radius: 10px;
    align-self: center;
}

button:hover, form input:hover {
    background-color: rgb(7, 7, 7);
    cursor: pointer;
}

.linkContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-evenly;
}

.link {
    text-decoration: none;
    color: #1E90FF;
    font-weight: 400;
    font-size: 0.9em;
    letter-spacing: 2px;
    text-align: right;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
} 



::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(212, 212, 212);
    opacity: 1; /* Firefox */
    font-style: italic;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: whitesmoke;
    font-style: italic;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: whitesmoke;
    font-style: italic;
  }