* {
    padding: 0px;
    margin: 0px;
    border: none;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background: rgba(32, 57, 82, 0.95);
}

@media screen and (max-width:1200px){
    body {
        height: 95vh;
    }
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 640px;
    width: 400px;
    margin: auto;
}



.form-login-container {
    background-color : #1C2B3A;
    border: 2px solid black;
    min-width: 372px;
    height: 580px;
    margin: auto;
    box-shadow: 0 0 15px 1px rgb(0 0 0 / 40%);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 180px;
    padding: 10px 30px ;
}

header img {
    height: 75px;
    width: 65px;
    object-fit: scale-down;
}


.title {
    margin-top: 3%;    
    font-size: 1.9em;
    font-weight: 900 ;
    letter-spacing: 1px;
    color: white;
    padding-bottom: 10px; 
}

.orientation {
    text-align: center;
    color: #ddedf7;
    font-weight: 400;
    font-size: 0.9em;
    letter-spacing: 1px;
    word-wrap: break-word;
    width: 270px;
    padding-bottom: 5px;
}

.action-option-selected {
    border-bottom: none;
    color: white;
}

.form-wrapper{
    display: flex;
}

form{
    display: flex;
    width: 80%;
    flex-direction: column;
    align-content: left;
    padding-left: 10%;
    padding-right: 10%;
}

form label {
    display: flex;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px;
    letter-spacing: 1px;
}

.agree label{
    font-size: 13px !important;
    font-weight: unset !important;
    padding-bottom: unset !important;
}

form input {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    outline: none;
    border: 1px solid #FFDE5A;
    height: 35px;
    width: 95%;
    margin-bottom: 5%;
    color: rgb(7, 7, 7);
    font-size: 0.8em;
    letter-spacing: 1px;
    padding-left: 1.5em;
    border-bottom-width: 2px;
      transition: all 0.3s ease;
      color: rgb(0, 0, 0);
}

form input::placeholder{
    color:rgb(151, 150, 150);
}

.password-inputs {
    height: 90px;
}
.password-group {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5%;
}

.password-group input {
    margin-bottom: 0;
}

.password-group i {
    color:#9da7b1;
    position: absolute;
    padding-right: 15px;
}


.confirm-password-group{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5%;
}

.confirm-password-group input {
    margin-bottom: 0;
}

.confirm-password-group i {
    color:#9da7b1;
    position: absolute;
    padding-right: 15px;
}

a:hover {
    color: #0d5cac;
}

i:focus {
    outline: none;
}

/*
@media screen and (max-width:1200px){
    i {
        color:#FFDE5A;
        position: absolute;
        right: 54px;
        bottom: 4px;
        top: 157px;
    }
}*/

.agree {
    display: flex;
    justify-content: center;
    align-items: center;
}

#chk-agree {
    height: 15px;
    width: 15px;
    margin-right: 10px;
    margin-top: 15px;
    border: 1px;
    border-color:  #FFDE5A; 
}

.agree label {    
    color: #dbdbdb;
    letter-spacing: 1px;
    font-size: 14px;
}

button {
    height: 40px;
    width: 180px;
    font-size: 1em;
    margin-top: 10px;
    border-radius: 10px;
    align-self: center;
    width: 100px;
    background: #1E90FF;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    letter-spacing: 1px;
}

button:hover, form input:hover {
    border-color: #1E90FF;
}

button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #1E90FF;
  }

.linkContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-evenly;
}

.link {
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    font-size: 0.9em;
    letter-spacing: 1px;
    text-align: right;
}

.link:hover{
    color: #6cb5ff;
}

.link_cadastro{
    text-decoration: none;
    color: #fff01e;
    font-weight: bold;
    font-size: 0.9em;
    letter-spacing: 1px;
    text-align: right;

}

a.link_cadastro{
    border-bottom: 2px solid #1E90FF;
}

a.link_cadastro:hover{
    border-bottom: 2px solid #1E90FF;
}

.link_cadastro:hover{
    color: #fff01e;
}


textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
} 



::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(212, 212, 212);
    opacity: 1; /* Firefox */
    font-style: italic;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: whitesmoke;
    font-style: italic;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: whitesmoke;
    font-style: italic;
  }