body{
    height: 100vh;
}
.container-pai{
    flex: 1 1 auto;
}
#banners-container , .banners{
    display: none;
}
.msgArea {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    height: 80px;
}