* {
    border: none;
    margin: 0px;
    padding: 0px;
}

products-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}


.products-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 5%;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: auto;
    padding: 20px 10px;
    border: 1px solid rgb(31, 31, 70);
    margin: 10px;
    box-sizing: border-box;
}

.product-id {
    color: whitesmoke;
    font-size: 18px;
    padding-right: 10px;
}

.product-description {
    color: red;
    font-size: 24px;
}

.product-img {
    padding: 10px;
    height: 200px;
    width: 200px;
}

