* {
    border: none;
    margin: 0px;
    padding: 0px;
}

.menu-products-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.sub-nav {
    align-self: flex-start;
    height: 100%;
    width: 100%;
}

.products-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 68%;
}

.products-cards, .sub-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #1C2B3A;
    margin: 15px 0px;
    padding: 20px 0px;
    box-sizing: border-box;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 320px;
    padding: 20px 10px;
    background-color: #2A3846;
    margin: 10px;
    border-radius: 13px;
    box-sizing: border-box;
}

.product-id {
    color: whitesmoke;
    font-size: 18px;
    padding-right: 10px;
}

.product-description {
    color: red;
    font-size: 24px;
}

.product-img {
    padding: 10px;
    height: 200px;
    width: 200px;
}

