* {
    border: none;
    margin: 0px;
    padding: 0px;
    font-family: PT Sans;
}

/*
.menu-products-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}*/

/*
.menu-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}*/

.sub-nav {
    align-self: flex-start;
    height: 100%;
    width: 100%;
}

.products-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

/*.products-cards, .sub-nav {*/
.products-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #1C2B3A;
    margin: 15px 0px;
    padding: 20px 0px;
    box-sizing: border-box;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    height: 380px;
    padding: 15px 5px 25px 5px;
    background-color: #2A3846;
    margin: 10px;
    border-radius: 13px;
    box-sizing: border-box;
    cursor: pointer;
}

.prod-clickable-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.products-buy-like {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    height: 20px;
    width: 90%;
    cursor: initial;
}

.products-buy-like img {
    height: 100%;
    width: auto;
    cursor: pointer;
}

.shopping-bag {
    padding-right: 15px;
    filter: brightness(0) invert(50%);
}

.addedToBag {
    filter: none;
}

.like {
    filter: brightness(0) invert(50%);
}

img:hover {
    filter: none;
}

.liked {
    filter: none;
}

.product-name {
    color: white;
    font-size: 16px;
    padding: 0px 20px;
    font-weight: normal;
    height: 55px;
    text-justify: center;
    text-align: center;
}

.product-img {
    margin:10px 20px;
    height: auto;
    max-height: 200px;
    width: 200px;
    box-sizing: border-box;
}

.product-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.payment-conditions {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.card-installment {
    justify-content: center;
    align-items: center;
}
.card-installment-parts {
    margin-right: 5px;
}

.card-installment-price {
    color: #FFDE5A;
    font-size: 24px;
}

.card-or {
    font-weight: normal;
    margin-right: 5px;
}

.card-at-sight-price {
    font-style: bold;
}