* {
    border: none;
    padding: 0px;
    margin: 0px;
}

.product-body {
    background-color: #273E56;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin: 10px;
}

.product-wrapper-outer-box {
    display: flex;
    border: 1px solid black;
    background-color: #1C2B3A;
    width: fit-content;
    height: fit-content;
    padding: 15px;
    box-shadow: 5px 10px 5px #1E3042;;
}

.product-wrapper-inner-box {
    margin: auto;
    background-color: #2A3846;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 600px;
    border-radius: 13px;
    box-sizing: border-box;
    position: relative;
}

.like img{
    position: absolute;
    height: 5%;
    width: auto;
    right: 3%;
    top: 5%;
}

#prod-session1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-container {
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 80%;
}

.product-main-pic {
    width: 50%;
    height: fit-content;
}

.product-main-pic img {
    width: 100%;
    height: auto;
}

.product-details {
    display: flex;
    flex-direction: column;
    color: white;
    padding-left: 5%;
    width: 50%;
    height: 100%;
    justify-content: space-between;
    box-sizing: border-box;
}

.product-header {
    font-size: 1.6rem;
    padding-bottom: 20px;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    margin-top: 10px;
}

.product-header span {
    text-align: center;
}

.product-sizes {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
    gap: 3%;
    width: 100%;
    height: 10%;
    margin-bottom: 5%;
    box-sizing: border-box;
}

.size-box {
    width: 40px;
    height: 40px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    border: 1px solid #F0AB3E;
    box-sizing: border-box;
}

.size-available {
    background-color: #F0AB3E;
}

.product-description {
    text-align: center;
    font-size: 1.4rem;
    height: 25%;
    margin-bottom: 5%;
    box-sizing: border-box;
}

.product-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 0.1em;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.installment {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-weight: 700;
}

.installment-parts {
    font-size: 2em;
    margin-right:2%;
}

.installment-price {
    display: flex;
    font-size: 2.4rem;
    color: #FFDE5A;
}

.at-sight {
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
}

.at-sight-price {
    font-weight: bold;
}

.shipping-buy {
    display: flex;
    justify-content: center;
    align-items: center;
    height:40px;
    margin-top: 10px;
    box-sizing: border-box;
}

.shipping {
    height: 40%;
    width: 100%;
    display: flex;
    direction: column;
    align-items: center;
    margin: 4% 0 ;
    box-sizing: border-box;
}

.cep-entry {
    display: flex;
    align-items: center;
    height: 100%;
    width: 60%;
    margin-right: 3%;
    box-sizing: border-box;
}

.cep-entry label {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}

.shipping input {
    margin-left: 3%;
    width: 80%;
    height: 100%;
    border-radius: 7px;
}

.shipping button {
    width: 35%;
    height: 100%;
    border-radius: 7px;
    background-color: #F0AB3E;
    color: white;
    font-size: 1vmax;
    font-weight: bold;
}

.buy {
    display: flex;
    justify-content: space-between;
    height: 60%;
}

.btn-add-to-kart {
    color: white;
    background-color: #FF124B;
    height: 100%;
    width:55%;
    border-radius: 7px;
    font-size: 1vmax;
    font-weight: 700;
}

.btn-buy {
    color: white;
    background-color: #0FBF60;
    height: 100%;
    width:40%;
    border-radius: 7px;
    font-size: 1vmax;
    font-weight: 700;
}


@media screen and (max-width:1250px){

    body {
        height: 100%;
    }
    .product-wrapper-outer-box {
        margin: 5% 0;
        height: 98%;
        width: 50%;
    }

    .product-wrapper-inner-box {
        margin: 2%;
    }

    .product-container {
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }


    .product-details {
        padding: 10px;
        width: 100%;
    }

    .product-price {
        display: flex;
        letter-spacing: 0em;
        box-sizing: border-box;
        align-items: flex-end;
    }

    .installment {
        display: flex;
        align-items: center;
        font-weight: 700;
    }

    .installment-price {
        white-space:nowrap;
    }

    .installment-parts span {
        align-self: baseline;
    }

    .or{
        padding: 0px 15px;
    }

    .at-sight {
        display: flex;
        align-items: center;
    }

    .at-sight-price {
        margin: 0px;
        padding: 0px;
    }

    .shipping-buy {
        height:150px;
    }

    .like img{
        height: 4%;
        right: 5%;
        top: 48%;
    }
}

