* {
    border: none;
    padding: 0px;
    margin: 0px;
}

.product-body {
    background-color: #273E56;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin: 10px;
}

.product-wrapper-outer-box {
    display: flex;
    border: 1px solid black;
    background-color: #1C2B3A;
    width: fit-content;
    height: fit-content;
    padding: 15px;
    box-shadow: 5px 10px 5px #1E3042;;
}

.product-wrapper-inner-box {
    margin: auto;
    background-color: #2A3846;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 600px;
    border-radius: 13px;
    box-sizing: border-box;
    position: relative;
    padding: 15px 0px;
}

.like {
    display: flex;
    justify-content: right;
    width: 100%;
    margin-right: 80px;
}

.like img {
    height: 20px;
    width: auto;
}

#prod-session1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.product-container {
    display: grid;
    grid-template-columns: 40% 50%;
    justify-content: center;
    box-sizing: border-box;
}

.product-main-pic {
    padding:20px;
    width: auto;
    height: auto;
}

.product-main-pic img {
    width: 100%;
    height: 100%;
}

.product-details {
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    box-sizing: border-box;
}

.product-header {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    padding-bottom: 20px;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    margin-top: 10px;
}

.product-header span {
    text-align: center;
}

.product-sizes {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
    gap: 3%;
    width: 100%;
    height: fit-content;
    margin-bottom: 5%;
    box-sizing: border-box;
}

.size-box {
    width: 40px;
    height: 40px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    border: 1px solid #F0AB3E;
    box-sizing: border-box;
}

.size-available {
    background-color: #F0AB3E;
}

.product-description {
    text-align: center;
    font-size: 1.4rem;
    height: 25%;
    margin-bottom: 5%;
    box-sizing: border-box;
}

.product-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 0.1em;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.installment {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-weight: 700;
}

.installment-parts {
    font-size: 2em;
    margin-right:2%;
}

.installment-price {
    display: flex;
    font-size: 2.4rem;
    color: #FFDE5A;
}

.at-sight {
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
}

.at-sight-price {
    font-weight: bold;
}

.shipping-buy {
    display: grid;
    grid-template-columns: 40% 50%;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
}

.shipping {
    height: 40%;
    width: 100%;
    display: flex;
    direction: column;
    align-items: center;
    justify-content: center;
    margin: 4% 0 ;
    box-sizing: border-box;
}

#btn-prod-shipping , #btn-prod-edit , #btn-prod-save {
    height: 40px;
    justify-content: center;
}

#btn-prod-edit , #btn-prod-save {
    width: 150px;
}

#btn-prod-save {
    line-height: 40px;
}

.cep-entry {
    display: flex;
    align-items: center;
    height: 100%;
    width: 60%;
    margin-right: 3%;
    box-sizing: border-box;
}

.cep-entry label {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
}

.shipping input {
    margin-left: 3%;
    width: 80%;
    height: 100%;
    border-radius: 7px;
}

.buy {
    display: flex;
    justify-content: space-around;
    height: fit-content;
}

@media screen and (max-width:700px){

    .product-wrapper-outer-box {
        height: 100%;
        width: 70%;
        min-width: 380px;
    }
    .product-wrapper-inner-box {
        height: fit-content;
        width: 100%;
        padding: 20px 0px;
        box-sizing: border-box;
    }
    .product-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        box-sizing: border-box;
    }
    .product-main-pic {
        width: 200px;
        height: auto;
        margin: 0px 30px;
    }
    .shipping-buy {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: min-content;
    }
    .shipping {
        justify-content: space-between;
        padding-left: 10px;
        margin-bottom: 15px;
    }
    .cep-entry {
        width: fit-content;
    }
    #prod-inp-cep {
        width: 100px;
    }
    #btn-prod-shipping {
        width: 150px;
        line-height: 40px;
    }

}

