.register-body{
    align-items: center;
    font-family: 'PT Sans', sans-serif;
}

.register-container {
    display: flex;
    background: rgb(255, 255, 255);
    max-width:900px;
    height: 100%;
    padding: 25px 30px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border-radius: 9px;
    margin: 20px 0 50px 0;
}


 .register-title{
    font-size:25px;
    color:rgb(255, 255, 255);
    font-weight: bold;
    position: relative;
    padding: 10px;
}

.register-title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #FFDE5A;
}

.register-container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box{
    width: calc(100% / 2 - 50px);
    margin-bottom: 15px;
}

.user-details .input-box .details{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: 10px;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px ;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus, 
.user-details .input-box input:valid{
    border-color:#1E90FF;
}

form .gender-details{
    margin-top: 14px;
    margin-bottom: 22px;
}

form .gender-details .gender-register-title{
    font-size: 16px;
    font-weight: bold;
}

form .gender-details .categoria-gender{
    display:flex;
    width: 80%;
    justify-content: space-between;
    margin: 0 14px 0px 14px;
}

.gender-details .categoria-gender label{
    display: flex;
}

.gender-details .categoria-gender input{
    height: 18px;
    width: 18px;
    margin-right: 10px;
    margin-left: 10px;
}

/*form input[type="radio"]{
    display:none;
}/*/

form .register-button{
    height: 45px;
    margin: 25px 0 0 0;
}

form .register-button input{
    height: 3em;
    width: 370px;
    background-color: #265380;
    color: white;
    border: solid #ffff 1px;
    font-weight: bold;
    border-radius: 7px;
    justify-content: center;
    letter-spacing: 0.5mm;
    font-size: 1.4rem;
}

form .register-button input:hover{
    background: #FFDE5A;
    color: black;
    cursor: pointer;
}

@media (max-width: 584px){
    .register-container {
        max-width:90%;
        background: rgb(255, 255, 255);
    }
    form .user-details .input-box{
        width: 100%;
        margin-bottom: 15px;
    
    }
    form .gender-details .categoria-gender{
        width: 100%;
    }
     .register-title{
        font-size: 20px;
        color:#ffffff ;
        font-weight: bold;
        position: relative;
        letter-spacing: 1px;
        padding: 10px;
    }
    .register-title::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 100%;
        background: #FFDE5A;
    }
    form .register-button input{
        height: 3em;
        width: 500px;
    }
}

/*background: linear-gradient(135deg, #71b7eb, #5a535e)*/