.register-body{
    align-items: center;
    font-family: 'PT Sans', sans-serif;
}


form{
    flex-direction: column;
}
.register-container {
    display: flex;
    background: #1C2B3A;
    color: #FFDE5A;
    max-width:900px;
    height: 100%;
    padding: 25px 30px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin: 20px 0 50px 0;
    border: 2px solid #000;
}

 .slogan{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
 }

.logo-register{
     width: auto;
     height: 60px;
 }

 .register-title{
    font-size:2em;
    color:#ffffff;
    font-weight: 900;
    position: relative;
    padding: 10px;
    justify-content: center;
    align-items: center;
    
}

.register-container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box{
    width: calc(100% / 2 - 20px);
    margin-bottom: 15px;
}

form .user-details .input-box .number{
    width: 80px;
}

form .user-details .input-box .birthDate{
    width: 150px;
}

.user-details .input-box .details{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: 10px;
}

.user-details .input-box input{
    height: 40px;
    width: 100%;
    outline: none;
    background-color: rgb(241, 244, 245);
    border-radius: 10px;
    border: 1px solid #FFDE5A;
    padding-left: 7px ;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    color: rgb(0, 0, 0);
}


.user-details .input-box input:focus, 
.user-details .input-box input:valid{
    border-color: #1E90FF;
}

form .gender-details{
    margin-top: 14px;
    margin-bottom: 22px;
}

form .gender-details .gender-register-title{
    font-size: 16px;
    font-weight: bold;
}

form .gender-title{
    font-weight: bold;
}

form .gender-details .categoria-gender{
    display:flex;
    width: 70%;
    justify-content: space-between;
    margin: 0 14px 0px 14px;
}

.gender-details .categoria-gender label{
    display: flex;
}

.gender-details .categoria-gender input{
    height: 18px;
    width: 18px;
    margin-right: 10px;
    margin-left: 10px;
}

form .register-button{
    height: 45px;
    margin: 25px 0 0 0;
}

form .register-button input{
    height: 3em;
    width: 370px;
    background-color: #265380;
    color: white;
    border: solid #ffff 1px;
    font-weight: bold;
    border-radius: 7px;
    justify-content: center;
    letter-spacing: 0.5mm;
    font-size: 1.4rem;
}

form .register-button input:hover{
    background: #FFDE5A;
    color: black;
    cursor: pointer;
}

@media (max-width: 584px){
    .register-container {
        max-width:90%;
    }
    form .user-details .input-box{
        width: 100%;
        margin-bottom: 15px;
    
    }
    .slogan{
        padding: 20px;
        align-items: center;
    }
    form .gender-details .categoria-gender{
        width: 100%;
    }
     .register-title{
        font-size: 20px;
        color:#ffffff ;
        font-weight: bold;
        position: relative;
        letter-spacing: 1px;
        padding: 10px;
    }
    
    form .register-button input{
        height: 3em;
        width: 500px;
    }
}

