* {
    border: 0px; padding: 0px; margin: 0px; box-sizing: border-box;
    font-family: 'Hind Siliguri', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    padding-top: 15px;
    line-height: 20px;
}

#not-dont-reply {
    padding: 5px 0px;
    font-size: 14px;
    font-style: italic;
    font-family: initial;
}

#fp-template {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
}

#fp-wrapper {
    border: 1px solid rgb(180, 179, 179);
    background-color: var(--blue-dark);
    border-radius: 7px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px 0px;
}

#logo {
    height: 75px;
    width: auto;
    transform: translateX(22px);
}

#fp-div-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#fp-title {
    color: lightsteelblue;
    font-size: 20px;
    padding: 5px 0px;
}

#fp-greeting {
    color: var(--blue-dark);
    font-size: 20px;
    padding: 10px 0px 20px 0px;
    font-style: italic;
}

#fp-content {
    background-color: whitesmoke;
    font-size: 16px;
    padding: 20px;
    color: rgb(90, 89, 89);
}

#fp-orientation p {
    display: inline;
    line-height: 20px;
}

#key-pass{
    color: rgb(248, 110, 60);
    font-size: 18px;
}

#grp-fp-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 0px;
}

#btn-fp {
    height: 35px;
    width: 160px;
    margin: 20px 0px;
}

#fp-attention {
    text-align: justify;
    font-size: 16px;
}

#fp-regards {
    margin-top: 20px;
    line-height: 25px;
    font-style: italic;
}

#footer-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
    padding: 15px;
}