<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/404.css">
    <link rel="stylesheet" href="./css/global.css">

    <title>404 - Rota não encontrada</title>
</head>

<body>
    <div class="container404">
        <h1>
            Ops, algo deu errado!
        </h1>
        <h2>
            Retorne a página principal <span class="linkSPan"><a href="/">Clicando aqui</a></span>
        </h2>


    </div>
</body>

</html>