<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/admin-home.css">
        <link rel="stylesheet" href="/css/admin-panel-header.css">
        <title>admin</title>
    </head>
    <body>
        <div id="container">

            <div id="top-bar">
                <img src="/img/logo.png" alt="acesso-nerd-logo">
                <div id="bar-nav">
                    <div id="profile">
                        <img id="img-profile" src="/img/profile-pic.svg" alt="profile-pic">
                    </div>
                    <button id="btn-logout">Logout</button>
                </div>
            </div>

            <div id="wrapper">
                <div id="menu-left">   
                    <ul id="menu">
                        <li><img class="menu-icon" src="/img/admin-users.png" alt=""><span class="menu-span">Administradores</span></li>
                        <li><img class="menu-icon" src="/img/admin-customers.png" alt=""><span class="menu-span">Clientes</span></li>
                        <li><img class="menu-icon" src="/img/admin-products.png" alt=""><span class="menu-span">Produtos</span></li>
                        <li><img class="menu-icon" src="/img/admin-orders.png" alt=""><span class="menu-span">Pedidos</span></li>
                        <li><img class="menu-icon" src="/img/admin-payments.png" alt=""><span class="menu-span">Pagamentos</span></li>
                        <li><img class="menu-icon" src="/img/admin-contact-us.png" alt=""><span class="menu-span">Central de Ajuda</span></li>
                        <li><img class="menu-icon" src="/img/admin-about.png" alt=""><span class="menu-span">Sobre Acesso Nerd</span></li>
                    </ul>
                </div>
    
                <section id="display-area">
                    <%- include('./partials/_admin-products') %> 
                </section>

            </div>
        </div>
    </body>
</html>