<!DOCTYPE html>
<!-- Interface de referência: https://i.pinimg.com/originals/83/25/37/8325377aa7180c2b0365d73824163263.png -->
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/admin-home.css">
        <title>admin</title>
    </head>
    <body>
        <div class="container">

            <div class="left">

                <span class="lp-header">Acesso Nerd Admin</span>

                <div class="profile">
                    <img src="/img/logo.png" alt="profile-pic">
                </div>

                <ul class="menu">
                    <li class="selected"><img class="menu-icon" src="/img/dashboard.svg" alt=""><span>Dashboard</span></li>
                    <li><img class="menu-icon" src="/img/ui-elements.svg" alt=""><span>UI Elements</span></li>
                    <li><img class="menu-icon" src="/img/tabs-panels.svg" alt=""><span>Tabs & Panels</span></li>
                    <li><img class="menu-icon" src="/img/morris-charts.svg" alt=""><span>Morris Charts</span></li>
                    <li><img class="menu-icon" src="/img/tables.svg" alt=""><span>Table Examples</span></li>
                    <li><img class="menu-icon" src="/img/form.svg" alt=""><span>Forms</span></li>
                </ul>
                
            </div>

            <section class="right">

                <section class="rp-header">
                        <span>Last access:  </span>
                        <button>Logout</button>
                </section>

                <section class="panel">
                    <div class="panel-content">
                        <div class="welcome">
                            <span>Admin Dashboard</span>
                            <p>Welcome, Love to see you back.</p>
                        </div>

                        <div class="notifications">
                            <div class="card-notification">
                                <div class="card-id">
                                    <div><img class="card-icon" src="/img/email.svg" alt="emails"></div>
                                    <div class="card-info">
                                        <span>120</span>
                                        <span>New</span>
                                    </div>
                                </div>
                                <div class="card-title">
                                    <p>Messages</p>
                                </div>
                            </div>

                            <div class="card-notification">
                                <div class="card-id">
                                    <div><img class="card-icon" src="/img/tasks.svg" alt="tasks"></div>
                                    <div class="card-info">
                                        <span>30</span>
                                        <span>Tasks</span>
                                    </div>
                                </div>
                                <div class="card-title">
                                    <p>Remaining</p>
                                </div>
                            </div>
                            <div class="card-notification">
                                <div class="card-id">
                                    <div><img class="card-icon" src="/img/bell.svg" alt="notification"></div>
                                    <div class="card-info">
                                        <span>240</span>
                                        <span>News</span>
                                    </div>
                                </div>
                                <div class="card-title">
                                    <p>Notifications</p>
                                </div>
                            </div>

                            <div class="card-notification">
                                <div class="card-id">
                                    <div><img class="card-icon" src="/img/rocket.svg" alt="orders"></div>
                                    <div class="card-info">
                                        <span>3</span>
                                        <span>Orders</span>
                                    </div>
                                </div>
                                <div class="card-title">
                                    <p>Pending</p>
                                </div>
                            </div>
                        </div>

                        <div class="system-health">

                            <div class="card-warning">
                                <div class="warnings">
                                    <div class="warning-icon-box">
                                        <div><img class="warning-icon" src="/img/warning.svg" alt="warnings"></div>
                                    </div>
                                    
                                    <div class="warning-info">
                                        <span>52 Important Issues to Fix</span>
                                    </div>
                                </div>
                                <p>Please fix these issues to work smooth</p>
                                <div class="time-left">
                                    <p>Time Left: 30mins</p>
                                </div>

                            </div>

                            <div class="card-speed">
                                <div class="speed">
                                    <div><img class="speed-icon" src="/img/speed.svg" alt="speed"></div>
                                    <div class="speed-title">
                                        <span>SPEED</span>
                                    </div>
                                </div>
                                <div class="speed-info">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, fugit? Blanditiis reiciendis rerum iste quibusdam impedit ab sunt tempora sequi enim excepturi, deserunt ipsa qui dolorem numquam atque eligendi voluptas.</p>
                                </div>
                                
                            </div>

                            <div class="other-controls">
                                <div class="card-weather">
                                    <div class="weather">
                                        <div>
                                            <div><img class="weather-icon" src="/img/cloud.svg" alt="weather"></div>
                                            <div class="weather-title">
                                                <p>Network City</p>
                                                <p>City</p>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="weather-info">
                                        <span>10°</span>
                                    </div>
                                </div>

                                <div class="card-display">
                                        <div class="display-icon-box">
                                            <img class="display-icon" src="/img/display.svg" alt="display">
                                        </div>
                                        <div class="display-title">
                                            <p>Display</p>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </div>
    </body>
</html>