<!DOCTYPE html>
<html lang="pt-BR">

    <%- include('./partials/_head') %> 

    <body class="main-shopp">
        <%- include('./partials/_header')  %> 
            <main>


            </main>
        <%- include('./partials/_footer') %>
        <script>

        </script>
    </body>
</html>