<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('./partials/_header') %> 
    <%- include('./partials/_head') %> 

    <body>
    <div class="sobre-nos">
    <h2 class="title">Precisa de mais informações?</h2>
    <p class="content">
    <span class="first">Entre em contato conosco, temos um time de especialistas pronto para atender você!</span>
    <span class="second">Telefone: (11) 2441-2345 | Celular: (11) 9 9123-5647</span>
    <span class="third">Estamos disponível também no email: atendimento@acessonerd.com.br</span>
    </p>

    <label for="nome">Nome:</label>
    <div class="Nome">
        <input type="name" id="nome" name="name" placeholder="Nome completo" required>
    </div>
    <label for="Telefone">Telefone:</label>
    <div class="telefone">
        <input type="tel" id="telefone" name="tel" placeholder="00-0000-0000" required>
    </div>
    <label for="Email">Email</label>
    <div class="email">
        <input type="email" id="email" name="email" placeholder="Digite seu email..." required>
    </div>
    <label for="Mensagem">Mensagem</label>
    <div class="Mensagem">
        <input type="text" id="mensagem" name="mensagem" placeholder="Deixe sua mensagem..." required>
    </div>



    </div>
        <div class="home-footer">
            <%- include('./partials/_footer') %> 
        </div>

    </body>
</html>