<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('./partials/_header') %> 
    <%- include('./partials/_head') %> 

        <body>
    <div class="page-contato">
    <div class="info">
        <h2 class="title2">Precisa de mais informações?</h2>
        <span class="text1">Entre em contato conosco, temos um time de especialistas pronto para atender você!</span>
        <span class="text2">Telefone: (11) 2441-2345 | Celular: (11) 9 9123-5647</span>
        <span class="text3">Preencha o formulário abaixo para que um dos nossos consultores entre em contato.</span>
    </div>
    <form class="form-contato" action="/contato" method="POST">
        <label for="nome">Nome Completo:</label>
    <div class="Nome">
        <input class="caixa-nome" type="name" id="nome" name="name" placeholder="Digite seu nome completo" required>
    </div>
        <label for="Telefone">Telefone com DDD:</label>
    <div class="telefone">
        <input class="caixa-telefone" type="tel" id="telefone" name="tel" placeholder="00-0000-0000" required>
    </div>
        <label for="contato-email">Email para contato:</label>
    <div class="contato-email">
        <input class="caixa-email" type="email" id="email" name="email" placeholder="Digite seu email..." required>
    </div>
        <label for="Mensagem">Mensagem</label>
    <div class="Mensagem">
        <input class="caixa-mensagem" type="text" id="mensagem" name="mensagem" placeholder="Deixe sua mensagem..." required>
    </div>
    <div class="contato-lgpd">
        <input class="caixa-lgpd" type="checkbox" id="contato-lgpd" name="contato-lgpd" checked>
        <label for="contato-lgpd">Eu concordo em receber comunicações.</label>
      </div>
    <div class="enviar">
        <input class="botao-enviar" type="submit" value="Enviar">
    </div>
    </form>
    </div>
    <div class="home-footer">
            <%- include('./partials/_footer') %> 
    </div>

    </body>
</html>