<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('./partials/_header') %> 
    <%- include('./partials/_head') %> 

        <body class="contato-body">
    <div class="page-contato">
    <div class="contato-info">
        <h2 class="title">Precisa de mais informações?</h2>
    <div class="text-contato">
        <span class="text">Entre em contato conosco, temos um time de especialistas prontos para atender você!<br>
        Telefone: (11) 2441-2345 | Celular: (11) 9 9123-5647<br>
        Preencha o formulário abaixo para que um dos nossos consultores entre em contato.</span>
    </div>
    </div>
    <div class="contato-container">
    <form class="form-contato" action="/contato" method="POST">
    <div class="contato-details">
    <div class="input-box">
        <span class="details">Nome Completo:</span>
        <input type="name" id="nome" name="name" placeholder="Digite seu nome completo" required>
    </div>
    <div class="input-box">
        <span class="details">Telefone com DDD:</span>
        <input type="tel" id="telefone" name="tel" placeholder="00-0000-0000" required>
    </div>
    <div class="input-box">
        <label class="details">Email para contato:</span>
        <input type="email" id="email" name="email" placeholder="Digite seu email..." required>
    </div>
    <div class="input-box">
        <span class="details">Mensagem:</span>
        <input class="details-mensagem" type="text" id="mensagem" name="mensagem" placeholder="Deixe sua mensagem..." required>
    </div>
    <div class="input-box-lgpd">
        <span class="details-lgpd">Eu concordo em receber comunicações</span>
        <input class="caixa-lgpd" type="checkbox" id="contato-lgpd" name="contato-lgpd" checked>
      </div>
    <div class="send-button">
        <input class="botao-enviar" type="submit" value="Enviar">
    </div>
    </div>
    </form>
    </div>



    </div>
    <div class="home-footer">
            <%- include('./partials/_footer') %> 
    </div>

    </body>
</html>