<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/forgot-password.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400&display=swap" rel="stylesheet">
    <title>Acesso-Nerd PassReminder</title>
</head>
<body id="fp-body">
    <div id="fp-wrapper">
        <header>
            <img id='logo-img' src="/img/logo.png" alt="logo">
        </header>
        <form action="/forgot-password" method="POST">    
            <div id="al-container">
                <div class="orientation">
                    <h1>Esqueceu sua senha?</h1>
                    <label for="email">Insira o endereço de e-mail associado à sua conta Acesso Nerd</label>
                </div>
                <div class="input-grp">
                    <input type="text" id="email" name="email" placeholder="digite seu email" required>    
                </div>
                <div id="msgErro">
                    <% if (typeof(msg) !="undefined" ) { %>
                        <%= msg %> 
                    <% } %>
                </div>
                <div id="btn">
                    <button type="submit">Enviar</button>
                </div>  
            </div>
        </form>
    </div>
</body>