<!DOCTYPE html>
<html lang="pt-BR">

    <%- include('./partials/_head') %> 

    <body>
        <div class="container-pai">
            <div class="header-banner">
                <%- include('./partials/_header-area') %> 
            </div>

            <div class="conteudo-body">
                <%- include('./partials/_product-area') %> 
            </div>
            
        </div>

        <div class="home-footer">
            <%- include('./partials/_footer') %> 
        </div>

    </body>
</html>