<!DOCTYPE html>
<html lang="pt-BR">

    <%- include('./partials/head') %> 

    <body>

        <div id="container-pai">
            <%- include('./partials/header')  %> 

            <section id="conteudo-body">

            </section>

        </div> <!-- end container-pai-->

        <%- include('./partials/footer') %>
        
    </body>

</html>