<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Acesso Nerd</title>
    <meta property="og:image" content="./img/logoAcessoNerd.png" />
    <meta name="description" content="🚀 Nave em construção...">
    <link rel="stylesheet" href="./css/login.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- icone do site -->
    <link rel="shortcut icon" type="image/x-icon" href="./img/icon_acessoNerd.ico" />

</head>

<body>
    <div class="login-container">
        <header>
            <img src="./img/logo-acesso-nerd.png" alt="logo">
            <div class="title">
                ACESSO NERD
            </div>
            <div class="orientation">
                <p>Faça seu Login para começar a sua jornada nesse novo universo!!</p>
            </div>
        </header>

        <div class="form-wrapper">
            <form action="index.html" method="POST">

                <label for="email">E-mail:</label>
                <input type="email" id="email" placeholder="seu@email.aqui" required>

                <label for="senha">Senha:</label>
                <div class="password-group">
                    <input type="password" id="senha" placeholder="digite sua senha" required>
                    <i class="fa fa-eye" id="olho" ondragstart="return false;"></i>
                </div>

                <div class="agree">
                    <input type="checkbox" id="chk-agree" required>
                    <label for="agree">Aceito todos os termos de privacidade</label>
                </div>

                <button id="botao">Embarcar</button>

                <div class="linkContainer">
                    <div>
                        <a href="recuperar.html" class="link">
                            <p>Esqueci minha senha
                        </a>
                    </div>
                    <div>
                        <a href="/cadastro" class="link"> Registre-se</p></a>
                    </div>

                </div>
            </form>
        </div>

    </div>
    <script src="/js/login.js"></script>
</body>

</html>