<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('./partials/_header') %> 
    <%- include('./partials/_head') %> 

    <body>
    <div class="sobre-nos">
        <h2 class="title">Sobre a Acesso Nerd</h2>
    <div class="content">
        <span class="about-text">A Acesso Nerd surgiu para encantar aqueles que desejam presentear amigos e pessoas queridas com produtos personalizados que refletem personalidade e criatividade.<br><br>
        Produzimos desde camisas, camisetas, canecas, porta copos, itens decorativos e muito mais.<br><br>
        Nossa missão é fornecer um produto da melhor qualidade com estampas criativas e exclusivas.<br><br>
        Atendemos em todo território nacional!<br>
        Confira nossas promoções e não perca as incríveis ofertas que separamos semanalmente para você!</span>
    </div>
    </div>

        <div class="home-footer">
            <%- include('./partials/_footer') %> 
        </div>

    </body>
</html>