<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('./partials/_header') %> 
    <%- include('./partials/_head') %> 

    <body>
    <div class="sobre-nos">
    <h2 class="title">Sobre a Acesso Nerd</h2>
    <p class="content">
    <span class="first">A Acesso Nerd surgiu para encantar aqueles que desejam presentear amigos e pessoas queridas com produtos personalizados que refletem personalidade e criatividade.</span>
    <span class="second">Produzimos desde camisas, camisetas, canecas, porta copos, itens decorativos e muito mais.</span>
    <span class="third">Nossa missão é fornecer um produto da melhor qualidade com estampas criativas e exclusivas.</span>
    <span class="fourth">Atendemos em todo território nacional!</span>
    <span class="fifth">Confira nossas <a href="#">promoções</a> e não perca as incríveis ofertas que separamos semanalmente para você!</span>
    </p>
    
    </div>

        <div class="home-footer">
            <%- include('./partials/_footer') %> 
        </div>

    </body>
</html>