<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('./partials/_header') %> 
    <%- include('./partials/_head') %> 
    <body class="register-body">
        
        <div class="register-container"> 
        <form action="/cadatro-realizado" method="POST">
        <div class="slogan">
             <img class="logo-register" src="./img/logo-acesso-nerd.png" alt="logo">
             <span class="register-title">Preencha o formulário para completar o seu cadastro</span>
        </div>
        <div class="user-details">
        <div class="input-box">
            <span class="details">Nome</span>
            <input type="text" placeholder="Informe seu nome" required>
        </div>
        <div class="input-box">
            <span class="details">Sobrenome</span>
            <input type="text" placeholder="Informe seu sobrenome" required>
        </div>
        <div class="gender-details">
            <span class="gender-title">Genero</span>
        <div class="categoria-gender">
            <input type="radio" id="femenino" name="gender" value="Feminino">
            <label for="feminino">Feminino</label><br>
            <input type="radio" id="masculino" name="gender" value="Masculino">
            <label for="masculino">Masculino</label><br>
            <input type="radio" id="Outro" name="gender" value="Outro">
            <label for="outro">Prefiro não informar</label>
        </div>
        </div>
        <div class="input-box">
            <span class="details">Data de Nascimento</span>
            <input class="date-register" type="date" required>
        </div>
        <div class="input-box">
            <span class="details">Email</span>
            <input type="text" placeholder="Informe seu email" required>
        </div>
        <div class="input-box">
            <span class="details">Telefone</span>
            <input type="text" placeholder="(00) 00000-00000" required>
        </div>
        <div class="input-box">
            <span class="details">Endereço</span>
            <input type="text" placeholder="Informe seu endereço" required>
        </div>
        <div class="input-box">
            <span class="details">Número</span>
            <input class="number" type="text" placeholder="Nº" required>
        </div>
        <div class="input-box">
            <span class="details">Bairro</span>
            <input type="text" placeholder="Informe seu bairro" required>
        </div>
        <div class="input-box">
            <span class="details">CEP</span>
            <input type="text" placeholder="Informe seu CEP" required>
        </div>
        <div class="input-box">
            <span class="details">Cidade</span>
            <input type="text" placeholder="Informe sua cidade" required>
        </div>
        <div class="input-box">
            <span class="details">Estado</span>
            <input type="text" placeholder="Informe seu estado" required>
        </div>
        <div class="register-button">
            <input type="submit" value="Confirmar">
        </div>
        </div>
            </form>
        </div>
    <div class="home-footer">
    <%- include('./partials/_footer') %> 
    </div>

    </body>
</html>