<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="./img/logoAcessoNerd.png" />
    <meta name="description" content="🚀 Nave em construção...">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/multi-steps-form.css">
    
    <title>Cadastro | Acesso Nerd</title>
</head>
<body>
    <form id="msform" action="/cadastro" method="POST" data-parsley-validate>
      <img class="logo-register" src="./img/logo.png" alt="logo">

    <ul id="progressbar">
      <li class="active">Cadastro</li>
      <li>Endereço</li>
      <li>Contato</li>
    </ul>
    
    <fieldset>
        <h2 class="fs-title">Preencha o formulário para realizar o seu cadastro</h2>
      <label for="firstName">Nome:</label>
      <input type="name" id="firstName" name="firstName" placeholder="Nome" required data-parsley-group="block1" data-parsley-required data-parsley-error-message="Informe o seu nome">
      <label for="lastName">Sobrenome:</label>
      <input type="text" id="lastName" name="lastName" placeholder="Sobrenome" required data-parsley-group="block1" data-parsley-required data-parsley-error-message="Informe o seu sobrenome">
        <div id="gender-input">
        <div id="gender-label">
      <label for="gender" id="gender" name="gender">Genero</label></div>
      <div id="radio-input">
      <input type="radio" id="feminino" name="gender" value="Feminino">
      <label id="label-gender" for="feminino">Feminino</label><br>
      <input type="radio" id="masculino" name="gender" value="Masculino">
      <label id="label-gender" for="masculino">Masculino</label><br>
      <input type="radio" id="Outro" name="gender" value="Outro">
      <label id="label-gender" for="outro">Prefiro não informar</label>
        </div>
        </div>
      <label for="birthDate">Data de Nascimento:</label>
      <input class="birthDate" type="date" id="birthDate" name="birthDate" placeholder="Data de Nascimento" required data-parsley-group="block1" data-parsley-required data-parsley-error-message="Informe sua data de nascimento">
      <input type="button" name="next" class="next action-button" value="Próximo" data-current-block="1" data-next-block="2" />
    </fieldset>

    <fieldset>
      <h2 class="fs-title"></h2>
      <label for="address">Endereço:</label>
      <input type="text" id="address" name="addres" placeholder="Endereço" required required data-parsley-group="block2" data-parsley-required data-parsley-error-message="Informe o seu endereço">
      <label for="number">Nº:</label>
      <input class="number" id="number" name="number" type="number" placeholder="Nº" required required data-parsley-group="block2" data-parsley-required data-parsley-error-message="Informe o Nº da sua residencia">
      <label for="district">Bairro:</label>
      <input type="text" id="district" name="district" placeholder="Bairro" required required data-parsley-group="block2" data-parsley-required data-parsley-error-message="Informe o bairro da sua residencia">
      <label for="zipCode">CEP:</label>
      <input type="number" id="zipCode" name="zipCode" placeholder="CEP" required data-parsley-group="block2" data-parsley-required data-parsley-error-message="Informe o CEP da sua residencia">
      <label for="city">Cidade:</label>
      <input type="text" id="city" name="city" placeholder="Cidade" required data-parsley-group="block2" data-parsley-required data-parsley-error-message="Informe a cidade de sua residencia">
      <label for="state">Estado:</label>
      <input type="text" id="state" name="state" placeholder="Estado" required data-parsley-group="block2" data-parsley-required data-parsley-error-message="Informe o estado de sua residencia">      
      <input type="button" name="previous" class="previous action-button" value="Anterior" />
      <input type="button" name="continue" class="continue action-button" value="Próximo" data-current-block="2" data-next-block="3"/>
    </fieldset>

    <fieldset>
      <h2 class="fs-title"></h2>
      <label for="email">Email:</label>
      <input type="email" id="mail" name="mail" placeholder="Email" required data-parsley-group="block3" data-parsley-required data-parsley-error-message="Informe o seu email">
      <label for="telefone">Telefone:</label>
      <input type="phone" id="phone" name="phone" placeholder="Telefone com DDD" required data-parsley-group="block3" data-parsley-required data-parsley-error-message="Informe o seu endereço">
      <input type="button" name="previous" class="previous action-button" value="Anterior" />
      <input type="submit" name="submit" class="submit action-button" value="Enviar" />
    </fieldset>


  </form>

  <script src="http://thecodeplayer.com/uploads/js/jquery-1.9.1.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.0.7/parsley.min.js"></script>
  <script src="/js/form-validation.js"></script>

</body>
</html>