<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/multi-steps-form.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <title>Document</title>
</head>
<body>
 
    <form id="msform" action="/cadastro-realizado" method="POST">

    <ul id="progressbar">
      <li class="active">Cadastro</li>
      <li>Endereço</li>
      <li>Contato</li>
    </ul>
    
    <img class="logo-register" src="./img/logo-acesso-nerd.png" alt="logo">

    <fieldset>
      <h2 class="fs-title">Preencha o formulário para realizar o seu cadastro</h2>
      <h3 class="fs-subtitle"></h3>
      <label for="firstName">Nome:</label>
      <input type="name" id="firstName" name="firstName" placeholder="Nome" required>
      <label for="lastName">Sobrenome:</label>
      <input type="text" id="lastName" name="lastName" placeholder="Sobrenome" required>
      <label for="birthDate">Data de Nascimento:</label>
      <input class="birthDate" type="date" id="birthDate" name="birthDate" placeholder="Data de Nascimento" required>
      <input type="button" name="proximo" class="proximo action-button" value="Próximo" />
    </fieldset>

    <fieldset>
      <h2 class="fs-title"></h2>
      <h3 class="fs-subtitle"></h3>
      <label for="address">Endereço:</label>
      <input type="text" id="address" name="addres" placeholder="Endereço" required>
      <label for="number">Nº:</label>
      <input class="number" id="number" name="number" type="number" placeholder="Nº" required>
      <label for="district">Bairro:</label>
      <input type="text" id="district" name="district" placeholder="Bairro" required>
      <label for="zipCode">CEP:</label>
      <input type="number" id="zipCode" name="zipCode" placeholder="CEP" required>
      <label for="city">Cidade:</label>
      <input type="text" id="city" name="city" placeholder="Cidade" required>
      <label for="state">Estado:</label>
      <input type="text" id="state" name="state" placeholder="Estado" required>      
      <input type="button" name="anterior" class="anterior action-button" value="Anterior" />
      <input type="button" name="proximo" class="proximo action-button" value="Próximo" />
    </fieldset>

    <fieldset>
      <h2 class="fs-title"></h2>
      <h3 class="fs-subtitle"></h3>
      <label for="email">Email:</label>
      <input type="email" id="mail" name="mail" placeholder="Email" required>
      <label for="telefone">Telefone:</label>
      <input type="phone" id="phone" name="phone" placeholder="Telefone com DDD" required>
      <input type="button" name="anterior" class="anterior action-button" value="Anterior" />
      <input type="submit" name="enviar" class="enviar action-button" value="Enviar" />
    </fieldset>

  </form>
  <script src="/js/multi-steps-form.js"></script>
</body>
</html>