<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/register.css">
    <link rel="stylesheet" href="./css/global.css">


    <title>Cadastre-se</title>
</head>

<body>


    <div>

    </div>
    <section id="boxMainForm">
        <form action="/cadastro" method="Post" class="formCadastro">
            <div class="titleRegister">
                <h2>Cadastra-se</h2>
            </div>
            <div style="width:100%;">
                <% if(typeof(errors) !="undefined" ){ %>
                    <p style="color: red; font-size: 1.4rem;">ERROR</p>
                    
                    <ul>
                        <% errors.forEach(error=> { %>
                            <li style="color:var(--white); font-size: 1.2rem;">
                                <%= error.msg %>

                            </li>
                            <% }) %>

                    </ul>

                    <% } %>
            </div>


            <div class="childsFormInput childOne">
                <label for="cpf">CPF:*</label>
                <input type="text" id="cpf" name="cpf" placeholder="000.000.000-00" data-mask="000.000.000-00">
            </div>
            <div class="childsFormInput childTwo">
                <label for="allNome">Nome Completo:*</label>
                <input type="text" id="fullName" name="fullName" placeholder="Ex.. Naruto Santos">
            </div>
            <div class="childsFormInput childThree">
                <label for="sexo">Sexo:*</label>
                <div class="optionSex">
                    <input type="radio" id="sexMasculino" name="sexo" value="m">
                    <h4 style="display: inline;" for="sexo">Masculino</h4>
                    <input type="radio" id="sexoFemino" name="sexo" value="f">
                    <h4 style="display: inline;">Feminino</h4>
                </div>
            </div>
            <div class="childsFormInput childFour">
                <label for="birthday">Nascimento:*</label>
                <input type="date" class="data" name="birthday" placeholder="Ex.: dd/mm/aaaa" data-mask="00/00/0000"
                    autocomplete="off">
            </div>
            <div class="childsFormInput childFive">
                <label for="tel">telefone:*</label>
                <input type="tel" id="tel" name="tel" data-mask="(00)9 0000-0000" placeholder="(00)9 0000-0000">
            </div>
            <div class="childsFormInput childSix">
                <label for="email">Email:*</label>
                <input type="email" id="email" name="email" placeholder="acessonerd@dominio.com">
            </div>
            <div class="childsFormInput childSeven">
                <label for="password">Criar Senha:*</label>
                <input type="password" id="password" name="password">
            </div>
            <div class="childsFormInput childSeven">
                <label for="password2">Confirma senha:*</label>
                <input type="password" id="password2" name="password2">
            </div>

            <div class="termForm">
                <p>
                    Ao clica em cadastrar estou de acordo com os termos de privacidade
                </p>
            </div>
            <div class="btnCadastro">
                <button type="submit ">Cadastrar</button>
            </div>
        </form>

    </section>

</body>

</html>