<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200;300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/template-forgot-password.css">
    <link rel="stylesheet" href="/css/global.css">
    <title>Esqueceu a Senha</title>

    <style>
        * {
            border: 0px; padding: 0px; margin: 0px; box-sizing: border-box;
            font-family: 'Hind Siliguri', sans-serif;
        }

        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: white;
            width: 1000px;
            padding-top: 15px;
            line-height: 20px;
        }

        #dont-reply {
            padding: 5px 0px;
            font-size: 14px;
            font-style: italic;
            font-family: initial;
        }

        #fp-template {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 400px;
        }

        #fp-wrapper {
            border: 1px solid rgb(180, 179, 179);
            background-color: #1C2B3A;
            border-radius: 7px;
        }

        header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 15px 0px;
        }

        #logo {
            height: 75px;
            width: auto;
            transform: translateX(22px);
        }

        #fp-div-title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        #fp-title {
            color: lightsteelblue;
            font-size: 20px;
            padding: 5px 0px;
        }

        #fp-greeting {
            color: #1C2B3A;
            font-size: 20px;
            padding: 10px 0px 20px 0px;
            font-style: italic;
        }

        #fp-content {
            background-color: whitesmoke;
            font-size: 16px;
            padding: 20px;
            color: rgb(90, 89, 89);
        }

        #fp-orientation p {
            display: inline;
            line-height: 20px;
        }

        #key-pass{
            color: rgb(248, 110, 60);
            font-size: 18px;
        }

        #grp-fp-button {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 5px 0px;
        }

        #btn-fp {
            height: 35px;
            width: 160px;
            margin: 20px 0px;
        }

        #fp-attention {
            text-align: justify;
            font-size: 16px;
        }

        #fp-regards {
            margin-top: 20px;
            line-height: 25px;
            font-style: italic;
        }

        #footer-bar {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: left;
            width: 100%;
            padding: 15px;
        }

        .buttons{
            color: white;
            height: 35px;
            width: 100px;
            border-radius: 7px;
            font-size: 14px;
            font-weight: 700;
            margin: 0px 10px;
            cursor: pointer;
        }

        .button-cancel{
            background-color:#F0AB3E;
        }

    </style>
</head>

<body>
    <div id="fp-template">
        <div id='dont-reply'>**Esse é um email automático. Por favor, não responda.**</div>
        <div id="fp-wrapper">
            <header>
                <div id='fp-div-logo'>
                    <img id='logo' src="/img/logo.png" alt="">
                </div>
                <div id='fp-div-title'>
                    <p id='fp-title'>Redefinição de Senha</p>
                </div>
            </header>
            <div id='fp-content'>
                <p id="fp-greeting">Olá, <%= user.firstname %>!</p>
                <div id='fp-orientation'>
                    <p>Para redefinir da sua senha, clique no botão abaixo e utilize o código:</p>
                    <p id='key-pass'><%= user.password %></p>
                </div>
                <div id="grp-fp-button">
                    <a href="http://localhost:3000/change-password"><button id="btn-fp" class="button-cancel buttons">Redefinir Senha</button></a>
                </div>    
                    
                <div id='fp-attention'>Caso não tenha solicitado a redefinição da senha, aconselhamos seguir com a alteração como medida de segurança.</div>

                <div id="fp-regards">
                    <p>Atenciosamente, </p>
                    <p>Equipe Acesso Nerd</p>
                </div>
            </div>
            <div id="footer-bar">

            </div>
        </div>
    </div>
</body>

</html>