<div id="panel-bar">
    <div id="div-title">
        <span>Produtos</span>
    </div>
    
    <div id="panel-filters">
        <form action="">
            <span>Código:</span>
            <input type="text" name="product-id" id="product-id" class="input-id">

            <span>Produto:</span>
            <input type="text" name="product-description" id="product-description">

            <span>Tipo:</span>
            <select id="types">
                <!--<optgroup label="agrupador">-->
                    <option value="canecas">Escolha um tipo</option>
                    <option value="canecas">CANECAS</option>
                    <option value="camisetas">CAMISETAS</option>
                    <option value="gadgets">GADGETS</option>
                <!--</optgroup>-->
            </select>
            
            <span>Tema:</span>
            <select id="themes">
                <option value="canecas">Escolha um tema</option>
                <option value="disney">DISNEY</option>
                <option value="marvel">MARVEL</option>
            </select>

        </form>
    </div>
</div>

