<!--pdp product details panel-->
<form id="pdp-form" method="POST" enctype="multipart/form-data" action="/admin/product/save">   
    <div id="pdp-container">
        <section id="pdp-section-pics">
            <div id="pdp-grp-main-image">
                <img id="prod-main-pic" class="main-pic" src="/img/placeHolderProductImage.jpg" alt="product-img">
            </div>
            <div id="pdp-images">
                <div class="pdp-grp-images" id='pdp-div-image0' name='pdp-div-image0'>
                    <img class="pdp-product-pics pdp-pic-selected" id="pdp-img-0" src="/img/placeHolderProductImage.jpg" alt="product-img">
                </div>
            </div>
            <div id="pdp-div-input-pics">
                <label for="pdp-inp-pics" id="pdp-btn-upload" class="buttons">Upload imagens</label>
                <input id="pdp-inp-pics" type="file" name="pdp-inp-pics" accept="image/*" multiple>
            </div>
        </section>
        <section id="pdp-section-info">
            <div id="pdp-id-status">
                <div id="pdp-div-id">
                    <label>Código:</label>
                    <input type="text" id="pdp-id" name="id" value="" readonly>
                </div>
                <div id="pdp-status">
                    <input type="text" name="status"><p id="pdp-p-status">Ativo</p></input>
                    <div id="pdp-div-switch">
                        <label class="pdp-switch">
                            <input id="pdp-inp-switch" type="checkbox" checked>
                            <span class="pdp-slider pdp-round"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="pdp-div-groups">
                <div id="pdp-div-description">
                    <div class="pdp-div-titles">
                        <span>Descrição</span>
                    </div>
                    <input id="pdp-inp-description" class="pdp-inputs" name="description" type="text" required>
                </div>
            </div>
            <div class="pdp-div-groups">
                <div id="pdp-div-category">
                    <div class="pdp-div-titles">
                        <span>Categoria</span>
                    </div>
                    <input type="text" name="type" value="" hidden>
                    <select id="pdp-select-category" class="pdp-selects" >
                        <!--<optgroup label="agrupador">-->
                            <option value="canecas">Escolha um grupo</option>
                            <option value="canecas">CANECAS</option>
                            <option value="camisetas">CAMISETAS</option>
                            <option value="gadgets">GADGETS</option>
                        <!--</optgroup>-->
                    </select>
                </div>
            </div>
            <div class="pdp-div-titles">
                <span>Preços</span>
            </div>
            <div id="pdp-grp-prices">
                <section id="pdp-section-installment">
                    <div class="pdp-div-subtitles">
                        <span>Valor Parcelado</span>
                    </div>

                    <div class="pdp-prices-values pdp-div-groups">
                        <div id="pdp-div-installmentParts">
                            <input id="pdp-inp-installmentParts" class="pdp-inputs pdp-payment-parts" name="installmentParts" type="number" value="" required>
                        </div>

                        <div class="pdp-x">X</div>

                        <div id="pdp-div-installmentPrice">
                            <input id="pdp-inp-installmentPrice" class="pdp-inputs pdp-payment-prices" name="installmentPrice" type="text" value="" required>
                        </div>
                    </div>

                </section>
                <section id="pdp-section-atSight">
                    <div class="pdp-div-subtitles">
                        <span>Valor à Vista</span>
                    </div>

                    <div class="pdp-prices-values pdp-div-groups">
                        <div id="pdp-div-atSightParts">
                            <input id="pdp-inp-atSightParts" class="pdp-inputs pdp-payment-parts" name="atSightParts" type="number" value="01" readonly>
                        </div>

                        <div class="pdp-x">X</div>

                        <div id="pdp-div-atSightPrice">
                            <input id="pdp-inp-atSightPrice" class="pdp-inputs pdp-payment-prices" name="atSightPrice" type="text" value="" required>
                        </div>
                    </div>
                </section>
            </div>

            <div id="pdp-grp-buttons">
                <div>
                    <button id="button-save" class="buttons" type="submit">Salvar</button>
                    <button id="button-cancel" class="buttons" type="reset">Cancelar</button>
                </div>
            </div>

        </section>
    </div>
</form>
