<!--pdp profile details panel-->
<form id="pdp-form" method="POST" action="/admin/administrator/save" enctype="multipart/form-data" >
    <div id="pdp-container">
        <section id="pdp-section-pics">
            <div id="pdp-div-top-space"></div>
            <div id="pdp-grp-main-image">
                <img id="pdp-main-pic" src="/img/profiles/placeHolderProfileImage.jpg" alt="profile-img">
            </div>
            <div id="pdp-div-input-pics">
                <label for="pdp-inp-pics" id="pdp-btn-upload" class="pdp-buttons">Upload imagens</label>
                <input id="pdp-inp-pics" type="file" name="pdp-inp-pics" accept="image/*" multiple>
            </div>
        </section>
        <section id="pdp-section-info">
            <div id="pdp-id-status">
                <div id="pdp-div-id">
                        <label>Id:</label>
                        <input type="text" id="pdp-id" name="id" value="" readonly>
                </div>
                <div id="pdp-status">
                    <p id="pdp-p-status">Ativo</p>
                    <div id="pdp-div-switch">
                        <label class="pdp-switch">
                            <input id="pdp-inp-switch" type="checkbox" checked>
                            <span class="pdp-slider pdp-round"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="pdp-div-groups">
                <div id="pdp-div-user">
                    <div class="pdp-div-titles">
                        <span>Usuário</span>
                    </div>
                    <input id="pdp-inp-user" class="pdp-inputs" name="user" type="text" required>
                </div>
            </div>
            <div class="pdp-div-groups">
                <div id="pdp-div-name">
                    <div class="pdp-div-titles">
                        <span>Nome</span>
                    </div>
                    <input id="pdp-inp-name" class="pdp-inputs" name="name" type="text" required>
                </div>
            </div>
            <div class="pdp-div-groups">
                <div id="pdp-div-cpf">
                    <div class="pdp-div-titles">
                        <span>CPF</span>
                    </div>
                    <input id="pdp-inp-cpf" class="pdp-inputs" name="cpf" type="text" required>
                </div>
            </div>
            <div class="pdp-div-groups">
                <div id="pdp-div-email">
                    <div class="pdp-div-titles">
                        <span>Email</span>
                    </div>
                    <input id="pdp-inp-email" class="pdp-inputs" name="email" type="text" required>
                </div>
            </div>
            <div class="pdp-div-groups">
                <div id="pdp-div-password">
                    <div class="pdp-div-titles">
                        <span>Password</span>
                    </div>
                    <input id="pdp-inp-password" class="pdp-inputs" name="password" type="text" required>
                </div>
            </div>
            <div id="pdp-grp-buttons">
                <div>
                    <button id="pdp-button-save" class="pdp-buttons" type="submit">Salvar</button>
                    <button id="pdp-button-cancel" class="pdp-buttons">Cancelar</button>
                </div>
            </div>
        </section>
    </div>
</form>
