<!--pdp product details panel-->
<form id="pdp-form" method="POST" enctype="multipart/form-data" action="/admin/product/save">   
    <div id="pdp-container">
        <div class="left-side">
            <section id="pdp-section-pics">
                <div id="pdp-grp-main-image">
                    <input id='prod-deleted-img' name='deletedImg' hidden>
                        <img id="prod-main-pic" class="main-pic" src="/img/placeHolderProductImage.jpg" alt="profile-img">
                        <input id='prod-initial-img' name='initialImg' value="" hidden>
                </div>
                <div id="pdp-div-input-pics">
                    <label for="prod-inp-pic" id="pdp-btn-upload" class="buttons">Upload imagens</label>
                    <input id='prod-inp-pic' class="pdp-inp-pics" type="file" name="admin-inp-pic" accept="image/*">
                </div>
            </section>
        </div>

        <section id="pdp-section-info">
            <div id="pdp-id-status">
                <div id="pdp-div-id">
                    <label>Código:</label>
                    <input type="text" id="prod-id" class="pdp-id" name="id" value="" readonly>
                </div>
                <div id="pdp-status">
                    <p id="prod-status">Ativo</p>
                    <div id="pdp-div-switch">
                        <label class="pdp-switch">
                            <input class="pdp-inp-switch" id='prod-status-switch' type="checkbox" checked>
                            <span class="pdp-slider pdp-round"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="pdp-div-groups">
                <div id="pdp-div-description">
                    <div class="pdp-div-titles">
                        <span>Descrição</span>
                    </div>
                    <input id="pdp-inp-description" class="pdp-inputs" name="description" type="text" value="" required>
                </div>
            </div>
            <div class="pdp-div-groups">
                <div id="pdp-div-category">
                    <div class="pdp-div-titles">
                        <span>Categoria</span>
                    </div>
                    <input id="pdp-inp-category" name="category" type="text" value='' hidden>
                    <select id="prod-select-category" class="pdp-selects">
                            <option >Escolha um grupo</option>
                            <option value="canecas" selected>Canecas</option>
                            <option value="camisetas">Camisetas</option>
                            <option value="gadgets">Gadgets</option>
                    </select>
                </div>
            </div>
            <div class="pdp-div-titles">
                <span>Preços</span>
            </div>
            <div id="pdp-grp-prices">
                <section id="pdp-section-installment">
                    <div class="pdp-div-subtitles">
                        <span>Valor Parcelado</span>
                    </div>

                    <div class="pdp-prices-values pdp-div-groups">
                        <div id="pdp-div-installmentParts">
                            <input id="pdp-inp-installmentParts" class="pdp-inputs pdp-payment-parts" name="installmentParts" type="number" value="" required>
                        </div>

                        <div class="pdp-x">X</div>

                        <div id="pdp-div-installmentPrice">
                            <input id="pdp-inp-installmentPrice" class="pdp-inputs pdp-payment-prices" name="installmentPrice" type="text" value="" required>
                        </div>
                    </div>

                </section>
                <section id="pdp-section-atSight">
                    <div class="pdp-div-subtitles">
                        <span>Valor à Vista</span>
                    </div>

                    <div class="pdp-prices-values pdp-div-groups">
                        <div id="pdp-div-atSightParts">
                            <input id="pdp-inp-atSightParts" class="pdp-inputs pdp-payment-parts" name="atSightParts" type="number" value="01" readonly>
                        </div>

                        <div class="pdp-x">X</div>

                        <div id="pdp-div-atSightPrice">
                            <input id="pdp-inp-atSightPrice" class="pdp-inputs pdp-payment-prices" name="atSightPrice" type="text" value="" required>
                        </div>
                    </div>
                </section>
            </div>

            <div id="pdp-grp-buttons">
                <div class="grp-edit-delete">
                    <button id="btn-prod-cancel" class="button-cancel buttons" hidden type="reset" onclick="window.location.replace('/admin/products/');">Cancelar</button>
                </div>
                <div>
                    <button id="btn-prod-save" class="button-save buttons" type="submit">Salvar</button>
                </div>
            </div>
        </section>
    </div>
</form>
<script src="/js/admin-product.js"></script>