<footer id="footer-container">
    <div class="footer-contact">
        <div class="contato">
            <h2>Contato:</h2>
            <h3>Tel (011) 9 000-0000</h3>
        </div>
        <div class="email">
            <h2>E-mail:</h2>
            <h3>atendimento@acessonerd.com</h3>
        </div>
        <div class="endereco">
            <h2>Endereço:</h2>
            <h3>Av. Paraíso no céu - vira esquerda e... chegou!</h3>
        </div>
    </div>

    <div class="footer-newlast">
        <div class="newlast">
            <span><img src="/img/icon-email 1.png" alt="icon email newlast"></span>
            <h2>RECEBA NOSSAS NOVIDADES POR EMAIL</h2>
        </div>
        
        <div class="newlast-form-button">
            <form action="" method="POST">
                <div class="email-entry">
                    <input type="email">
                </div>
                <div class="button-newlast">
                    <button>cadastrar</button>
                </div>
            </form>
        </div>
    </div>

    <div class="footer-form-payment">
        <h2>Formas de Pagamento</h2>
        <img src="/img/pagamentos.png" alt="formas de pagamento">
    </div>

</footer>