<footer id="footer-container">
    <div class="footer-contact">
        <div class="contato">
            <h2>CONTATO:</h2>
            <h3>Telefone: (11) 2441-2345</h3>
            <h3>Celular: (11) 9 9123-5647</h3>
        </div>
        <div class="email">
            <h2>EMAIL:</h2>
            <h3>atendimento@acessonerd.com.br</h3>
        </div>
        <div class="endereco">
            <h2>ENDEREÇO:</h2>
            <h3>Rua Pedro Pastrana, 315 - Vila Rio <br>CEP: 05184-630 | São Paulo, SP</h3>
        </div>
    </div>

    <div class="footer-newlast">
        <div class="newlast">
            <span><img src="/img/icon-email 1.png" alt="icon email newlast"></span>
            <h2>RECEBA NOSSAS NOVIDADES POR EMAIL</h2>
        </div>
        
        <div class="newlast-form-button">
            <form action="" method="POST">
                <div class="email-entry">
                    <input type="email" name="newslatter" id="newslatter" placeholder="Digite seu email...">
                </div>
                <div class="button-newlast">
                    <button>Cadastrar</button>
                </div>
            </form>
        </div>
    </div>

    <div class="footer-form-payment">
        <h2>FORMAS DE PAGAMENTO</h2>
        <img src="/img/pagamentos.png" alt="formas de pagamento">
    </div>

</footer>