<div id="info-header-top">
    <div id="info-header-top">
        <span class="info-header-top-span"><a href="/quem-somos">Quem Somos</a></span>
        <span class="info-header-top-span"><a href="/contato">Contato</a></span>
    </div>  
</div>
<header id="header-container">

    <!--Inicio da estrutura do logo, nome e login na parte superior-->
    <div id="container-logo">
        <a href="/"> <img src="/img/logo.png" alt="" class="imgLogTop"></a>


        <div class="div-login-carrinho">
            <div class="div-carrinho">
                <img class="nav-icons" src="/img/iconCarrinho.png" alt="carrinho">
            </div>
            <div class="carrinho">Carrinho</div>
            <div class="div-login">
                <% if (typeof(nome)=="undefined" ) { %>
                    <a href="/login"><img class="nav-icons" src="/img/ico-login.png" alt="login"></a>
                    <% }else{ %>
                        <p>
                            <%= nome %>
                        </p>
                        <%} %>

            </div>
            <div class="login">Login</div>
        </div>

    </div>
    <!--fim da estrutura-->

    <!--Start navegation-->
    <div class="bar">
        <div id="bar">
        <nav class="navegação-top">
            <input id="burguer" type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
                <li><a id="clothes" href="#" onclick="searchProductsByFilter('type', this.id)">VESTUÁRIO</a></li>
                <li><a id="mugs" href="#" onclick="searchProductsByFilter('type', this.id)">CANECAS</a></li>
                <li><a href="#">PORTA COPO</a></li>
                <li><a href="#">DECORAÇÃO</a></li>
                <li><a href="#">PROMO GEEK</a></li>
            </ul>
        </nav>
        </div>
    <div class="barra-de-pesquisa">
            <div class="divPesquisa">
                <input type=" text" name="pesquisar" id="search" placeholder="Pesquisar produto...">
                <div class="div-pesquisa">
                    <button onclick="searchProducts()"><img class="img-pesquisar" src="/img/lupa.svg"
                            alt="buttom search"></button>

                </div>
            </div>
        </div>
    </div>
    <!--end navegation-->


</header>