<form id='orders-form' action="/orders" method="POST" enctype="multipart/form-data" >
    <div id='wrapper-orders'>
        <div id="div-orders-header">
            <p>Seus Pedidos</p>
            <label for="order_id"></label>
            <div id="grp-orders-search">
                <input id="order_id" type="text" name='order_id' placeholder="Buscar por pedido">
                <button>Buscar Pedido</button>
            </div>
        </div>
        <div id="div-orders-list">
            <div class="order-card">
                <div class="order-card-header">
                    <div class="order-date">
                        <p>Pedido realizao</p>
                    </div>
                    <div class="order-amount">
                        <p>R$ </p>
                    </div>
                    <a href="">Detalhes do pedido</a>
                </div>
                <div id="order-products">
                    <div class="order-product-card">
                        <div id="order-product-img">
                            <img src="" alt="">
                        </div>
                        <div id="order-product-details">
                            <div id="product-name">

                            </div>
                            <div id="product-description">

                            </div>
                            <div id="product-price">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
