<div id="product-body">
    <div class="product-wrapper-outer-box">
        <div class="product-wrapper-inner-box">
            <div class="like">
                <img src="/img/like.svg" alt="like it" title="Favoritos">
            </div>

            <div id="prod-session1">
                <div class="product-container">
                        <div class="product-main-pic">
                            <% if(product.imgPath) {%>
                                <img id="pd-main-pic" src='<%= product.imgPath %> ' alt="product-main-pic">
                            <%} else {%>  
                                <img id="pd-main-pic" src="/img/placeHolderProductImage.jpg" alt="product-main-pic">
                            <%}%>  
                        </div>
                    
                    <div class="product-details">
                        <div class="product-header">
                            <span><%= product.name %></span>
                        </div>
                        <div id="product-sizes">
                            <% if (product.one_size === 'N') {%>
                                <% if(product.es_size == 'S') {%> 
                                    <div id="es-size" class="size-box size-available" value='PP'>PP</div>
                                <% } else { %> 
                                    <div id="es-size" class="size-box" value='PP'>PP</div>
                                <% } %>
                                <% if(product.s_size == 'S') {%> 
                                    <div id="s-size" class="size-box size-available" value='P'>P</div>
                                <% } else { %> 
                                    <div id="s-size" class="size-box" value='P'>P</div>
                                <% } %>
                                <% if(product.m_size == 'S') {%> 
                                    <div id="m-size" class="size-box size-available" value='M'>M</div>
                                <% } else { %> 
                                    <div id="m-size" class="size-box" value='M'>M</div>
                                <% } %>
                                <% if(product.l_size == 'S') {%> 
                                    <div id="l-size" class="size-box size-available" value='G'>G</div>
                                <% } else { %> 
                                    <div id="l-size" class="size-box" value='G'>G</div>
                                <% } %>
                                <% if(product.el_size == 'S') {%> 
                                    <div id="el-size" class="size-box size-available" value='GG'>GG</div>
                                <% } else { %> 
                                    <div id="el-size" class="size-box" value='GG'>GG</div>
                                <% } %>                                
                            <% } else { %> 
                               <div id="one_size" class="size-box">Único</div>
                            <% } %> 
                        </div>
                        <input id='choosen-size' type="text" name="choosen-size" value=''>
                        <div class="product-description">
                            <p>                   
                            <%= product.description %> 
                            </p>
                        </div>
                        <div class="product-price">
                            <div class="installment">
                                <span class="installment-parts">5x</span>
                                <span class="installment-price">R$ 10,18</span>
                            </div>
                            <div class="at-sight">
                                <span class="or">ou</span>
                                <span class="at-sight-price">R$ 50,90 à vista</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="shipping-buy">
                    <div id="shipping">
                        <div id="div-cep">
                            <label id="lbl-cep" for="prod-inp-cep">CEP:</label>
                            <input id="prod-inp-cep" class="pdp-inputs" type="text">
                        </div>
                        <button id="btn-prod-shipping" class="button-search buttons">Calcular Frete</button>
                    </div>
                    <div class="buy">
                        <button id="btn-prod-save" class="button-save buttons" onclick='buy(product.product_id)'>COMPRAR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/product-details.js"></script>