<footer id="footer-container">
    <div class="footer-contact">
        <h2>Contato</h2>
        <h3>Tel (011) 9 000-0000</h3>
        <h2>Email</h2>
        <h3>atendimento@acessonerd.com</h3>
        <h2>Endereço</h2>
        <h3>Av. Paraíso no céu - vira esquerda e chego!</h3>
    </div>

    <div class="footer-newlast">
        <div class="newlast">
            <span><img src="/img/icon-email 1.png" alt="icon email newlast"></span>
            <h2>RECEBA NOSSAS NOVIDADES POR EMAIL</h2>
        </div>
        
        <div class="newlast">
            <form action="" class="newlast">
                <input type="email">
                <span class="span-button-newlast"><button>cadastrar</button></span>
            </form>
        </div>
    </div>

    <div class="footer-form-payment">
        <h2>Formas de Pagamento</h2>
        <img src="/img/pagamentos.png" alt="formas de pagamento">
    </div>

</footer>