<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Olá, <%= user.user_name %> !</h1>
    <p>Conforme solicitação, enviamos o link abaixo para gerar uma nova senha:</p>
    <p>Utilize o código abaixo para realizar a troca de sua senha: </p>
    <div>
        <%= user.password %>
    </div>
</body>
</html>